* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
}

#container {
    width: 100%;
    height: 96%;
    overflow-x: hidden;
}

#post_cont {
    height: 100%;
    width: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
}

#post_cont::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent, transparent);
}

#post_cont::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, black, transparent, transparent, transparent);
    z-index: 2;
}

#post_cont::-webkit-scrollbar {
    display: none;
}

#img_cont {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    overflow-y: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;

    img {
        height: 100%;
        width: 84%;
        /* background-color: royalblue; */
        object-fit: cover;
        object-position: center;
        scroll-snap-align: center;
        transform: translateX(-118%);
    }
}

#shadow {
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #000000f8 40%, transparent 70%);
}

#text {
    height: 180px;
    /* width: 360px; */
    width: 400px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: blue; */
}

#text_cont {
    height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

#nameImage {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    transition: all 0.4s ease;
    transform: translateX(-100%);
}

#bottom_cont {
    height: 60px;
    width: 460px;
    /* background-color: blue;  */
    margin: 0% 4% 2% 0%;
    overflow: hidden;
    position: relative;

    img {
        height: 42px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
        opacity: .5;
        margin-inline: 3px;
        transition: all .1s ease;
        border: 1px solid transparent;
    }

    img:hover {
        height: 50px;
        opacity: 1 !important;
    }
}

#btm1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#btm2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    pointer-events: none;

    #left {
        height: 100%;
        width: 30px;
        background: linear-gradient(to right, black, transparent);
        display: grid;
        place-items: center;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
    }

    #right {
        height: 100%;
        width: 30px;
        background: linear-gradient(to left, black, transparent);
        display: grid;
        place-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    i {
        color: white;
        font-size: 2.2rem;
        font-weight: 400;
        pointer-events: all;
    }
}

#bottom {
    height: 180px;
    width: 93%;
    /* background-color: blue; */
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#menu {
    height: 100%;
    width: 7%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center i {
    color: grey;
    font-size: 22px;
    font-weight: 100;
    transition: all .2s ease;
    transform: translate(-100%);
    opacity: 0;
}

#center {
    /* background-color: green; */
    height: 58%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    i:hover {
        color: white;
        transform: translate(4px, 2px) scale(1.08) !important;
        cursor: pointer;
    }
}


@media (max-width:600px) {
    body {
        overflow-y: hidden;
    }

    #menu {
        width: 100%;
        height: fit-content;
    }

    #center {
        flex-direction: row;
        padding-block: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.688), transparent);
    }

    #center .ri-menu-3-line {
        color: white;
    }

    #img_cont img {
        height: 100%;
        width: 100%;
    }

    #post_cont::after {
        background: linear-gradient(to right, rgb(0 0 0 / 80%), transparent, transparent);
        ;
    }

    #bottom {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        height: fit-content;
    }

    #text {
        height: 100px;
        width: 60%;
        margin-left: 3%;
    }

    #btm1 img {
        height: 55px;
    }

    #bottom_cont {
        height: 65px;
        margin: 2% 0% 2% 0%;
        width: 100%;
    }

    #bottom_cont img:hover {
        height: 60px;
    }

    #btm1 {
        overflow-x: auto;
        width: 98%;
        margin-left: 3%;
    }

    #shadow {
        height: 20%;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        background: linear-gradient(180deg, #000000ba, transparent);
    }

    #btm2{
        display: none;
    }

}
