*{
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:black;
}

#container{
    width: 100%;
    height: 96%;
    overflow-x: hidden;
}

#post_cont{
    height: 100%;
    width: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
}
#post_cont::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background:linear-gradient(to right,rgb(0, 0, 0),transparent,transparent);
}

#post_cont::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background:linear-gradient(to top,black,transparent,transparent,transparent);
    z-index: 2;
}

#post_cont::-webkit-scrollbar{
    display: none;
}

#img_cont{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    overflow-y: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    img{
        height: 98%;
        width: 100%;
        /* background-color: royalblue; */
        object-fit: cover;
        object-position: center;
        scroll-snap-align:center;
        transform: translateX(-102%);
    }
}

#text{ 
    height: 180px;
    /* width: 360px; */
    width: 400px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: blue; */
}

#text_cont{
    height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

#nameImage{
    width: 100%;
    height: fit-content;
    object-fit: contain;
    transition: all 0.4s ease;
    transform: translateX(-100%);
}

#bottom_cont{
    height: 60px;
    width: 460px;
    /* background-color: blue;  */
    margin: 0% 4% 2% 0%;
    overflow: hidden;
    position: relative;

    img{
        height: 42px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
        opacity: .5;
        margin-inline:3px;
        transition: all .1s ease;
        border: 1px solid transparent;
    }
    img:hover{
        height: 50px;
        opacity: 1!important;
    }
}

#btm1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#btm2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    pointer-events: none;

    #left{
        height: 100%;
        width: 30px;
        background:linear-gradient(to right,black,transparent);
        display: grid;
        place-items: center;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
    }
    
    #right{
        height: 100%;
        width: 30px;
        background:linear-gradient(to left,black,transparent);
        display: grid;
        place-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    i{
        color: white;
        font-size: 2.2rem;
        font-weight: 400;
        pointer-events: all;
    }
}

#bottom{
    height: 180px;
    width: 93%;
    /* background-color: blue; */
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    height: 100%;
    width: 7%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center i{
    color: grey;
    font-size: 21px;
    font-weight: 100;
    transition: all .2s ease;
    transform: translate(-100%);
    opacity: 0;
}

#center{
    /* background-color: green; */
    height: 58%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    i:hover{
        color: white;
        transform: translate(4px,2px) scale(1.08)!important;
    }
}


@media (max-width:600px) {
    body{
        overflow-y: hidden;
        box-sizing;
    }
}